.contact-card{
  display: flex;
  padding: 10px;
  color: gray;
  background-color: lightblue;
  box-shadow: 12px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 12px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 12px 10px 5px 0px rgba(0,0,0,0.75);
  max-width: 500px;
  max-height: 125px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.contact-card p{
  margin-left: 10px;
  margin-top: 0px;
}

button{
  margin-left: 10px;
  margin-bottom: 10px;
}